*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('background3.jpg')no-repeat;
    background-position : center;
    animation: color 20s infinite linear;
    font-family: Arial, Helvetica, "Comic Sans MS", serif;
}

.questionnaire{
    position: relative;
    width: 100%;
    text-align: center;
    background : transparent;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{
    font-size: 2em;
    color: black;
    text-align: center;
}
label{
    font-size: 20px;
}
#matin, #choixmatin, #diner{

    border:1px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    background : rgba(255,255,255,0.5);
}

#btnretour , #btnvalider {
    width: 10%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 10px;
}
#conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


